$color-1: rgb(179, 36, 36);
$color-2: rgb(100, 100, 231);
$color-3: rgb(160, 68, 160);
$color-4: rgb(226, 226, 204);
$color-5: rgb(241, 166, 179);
$color-6: rgb(241, 184, 76);
$color-7: rgb(5, 0, 0);

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
main{
    background-color: $color-4;
}

.navbar-brand {
    color: blue;
    margin-right: 100px;
    margin-left: 10px;
    float: right;
    

    &:hover {
        color: $color-6;
    }
}

.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: $color-1; 
            font-size: 20px;
            float: right;
            margin-left: 10px;
            margin-right: 10px;

            &:hover {
                color: $color-4; 
            }
        }
    }
}


img{
    background-position: center;
    background-size: cover;
}


footer{
    background-color: $color-7;
}
footer p{
    color: $color-1;
    font-size: 20px;
}
.icono-texto {
    text-align: center;

    a {
        i {
            color:$color-2; 

            
            font-size: 24px; 
            margin-bottom: 10px;

            &:hover {
                color: $color-1
            }
        }
    }

    .texto1 {
        font-size: 20px;
    }

    .texto2 {
        font-size: 20px;
    }

    .texto3 {
        font-size: 20px;
    }
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    a {
        color: $color-5;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        margin-left: 30px;

        &:hover {
            color: blue;
        }
    }
}
main h1{
    color: grey;
    &:hover{
        color: $color-3;
    }
}
.btn {
    background-color: $color-6 ;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        color: $color-5;
    }
}
main h2{
    text-align: center;
    color: $color-2;
}
main h3{
    color: $color-3;
}
